/*Part 2: Task App*/
.App {
  font-family: sans-serif;
  text-align: center;
}

li {
  list-style: none;
}

.checkbox-list {
  list-style-type: none;
  padding-left: 0;
}

.checkbox-list li::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}
